# ==========================
# Entorno virtual
# ==========================
env/
venv/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Variables de entorno
# ==========================
.env

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Sistema Operativo
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log