{% extends "base/base.html" %}

{% block title %}

Mis Pedidos

{% endblock %}

{% block contenido %}

<div class="container py-5">

<h2 class="mb-4">

📦 Mis pedidos

</h2>

{% if pedidos %}

<table class="table table-hover shadow">

<thead class="table-dark">

<tr>

<th>ID</th>

<th>Fecha</th>

<th>Estado</th>

<th>Total</th>

<th></th>

</tr>

</thead>

<tbody>

{% for pedido in pedidos %}

<tr>

<td>

#{{ pedido.id }}

</td>

<td>

{{ pedido.fecha|date:"d/m/Y H:i" }}

</td>

<td>

<span class="badge bg-primary">

{{ pedido.estado }}

</span>

</td>

<td>

${{ pedido.total }}

</td>

<td>

<a
href="{% url 'detalle_pedido' pedido.id %}"
class="btn btn-primary btn-sm">

Ver detalle

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

{% else %}

<div class="alert alert-info">

Todavía no has realizado compras.

</div>

{% endif %}

</div>

{% endblock %}